USE [master]
GO
/****** Object:  Database [LIBRARY]    Script Date: 17/02/2020 11:00:26 ******/
CREATE DATABASE [LIBRARY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LIBRARY', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LIBRARY.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LIBRARY_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LIBRARY_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LIBRARY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LIBRARY]
GO
/****** Object:  Table [dbo].[OBRAS]    Script Date: 17/02/2020 11:00:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBRAS](
	[IDLibro] [int] NOT NULL,
	[Titulos] [nvarchar](50) NULL,
	[Autores] [nvarchar](50) NULL,
	[Paginas] [int] NULL,
 CONSTRAINT [PK_OBRAS] PRIMARY KEY CLUSTERED 
(
	[IDLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[OBRAS] ([IDLibro], [Titulos], [Autores], [Paginas]) VALUES (1, N'LA MADRE DE FRANKENSTEIN', N'ALMUDENA GRANDES', 560)
INSERT [dbo].[OBRAS] ([IDLibro], [Titulos], [Autores], [Paginas]) VALUES (2, N'EL JARDÍN DEL PRADO', N'EDUARDO BARBA GOMEZ', 240)
INSERT [dbo].[OBRAS] ([IDLibro], [Titulos], [Autores], [Paginas]) VALUES (3, N'LA ESTRATEGIA DEL COCODRILO', N'KATRINE ENGBERG', 360)
USE [master]
GO
